<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>
<body>
        <div class="container">
            {{range .}}
            <div class="artist-card" hx-get="/modal/{{.ID}}" hx-target="#modal-container" hx-trigger="click" hx-swap="innerHTML">
                <img src="{{.Image}}">
                <h2>{{.Name}}</h2>
            </div>
            {{end}}
        </div>
        
</body>
</html>
