@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body, main {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-color: #191b1d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.error {
    background-color: #191b1d;
    color: white;
}

h2 {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-size: 2rem;
}

div.site-card {
    position: fixed;
    height: max(30vw, 500px);
    width: max(30vw, 500px);
    border-radius: 1rem;
    background-color: #2f3136;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    padding: 10%;
}

form div.banner-selector {
    display: block !important; 
    align-self: center !important; 
    align-items: center !important;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1rem;
}

form textarea {
    height: max(20%, 200px);
    width: max(60%, 300px);
    resize: none;
    overflow-y: scroll;
    white-space: pre;
    overflow-x: scroll;    
}

div.submit-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

button {
    height: 3rem;
    width: 8rem;
    position: relative;
    /* transform: translateX(-50%); */
    background-color: grey;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
    text-transform: uppercase;
    background-color: #1d1d1d;
    color: white;
    font-family: "Oswald", sans-serif;
}

button:active {
transform: /*translateX(-50%)*/ scale(0.80);
}

label {
    color: white;
}

p {
    color: white;
    /* font-family: ; */
}